.navbtn
  .icon-box
    .icon-bar
    .icon-bar
    .icon-bar
.container.con-top
  .inner-block.con-right
  h1.title-mixing 混和出
  h1.title-infpos 無限的可能性 
  h1.title-pi π型人才
.container.con-about
  h2.title-about#AB 關於我
  .small_con
    .inner-con.rab
      p.my-name 陳庭賢
      h3.degree 學歷
      p 東山高中畢業
      p 台灣大學 工程科學及海洋工程學系
      h3.exp 經歷
      p 東山高中畢聯會 製作總監
      p 台北市青少年文學獎十一屆 極短篇 首獎得主
      p 107學年度 台大書卷獎
    .inner-con.lab
      .myprofile
.container.con-skills
  h2.title-skills#SK 技能
  .skill-frame
    .skill-bar
      .skill-rect#EMA
        .skill-name 工程數學
        .skill
        .skill-info
      .skill-rect#EMD
        .skill-name 電磁學
        .skill
        .skill-info
      .skill-rect#CE
        .skill-name 電子電路
        .skill
        .skill-info
      .skill-rect#LC
        .skill-name 邏輯電路
        .skill
        .skill-info
      .skill-rect#ME
        .skill-name 工程力學
        .skill
        .skill-info
.container.con-pros
  h2.title-pros#PR 專案
  .pro-frame
    .pro-block
      .pro-img#Taro
      h3.pro-title TaroTarvel
      p.pro-des.des-small Android 模擬旅行社app
    .pro-block
      .pro-img#Front
      h3.pro-title MockUp
      p.pro-des 前端 做出一台假手機
    .pro-block
      .pro-img#MATLAB
      h3.pro-title 科學計算
      p.pro-des Matlab 結構矩陣計算
.container.con-contact
  h2.title-cont 聯絡我
  p.contact#ct(data-clipboard-target="#ct",data-clipboard-text="B07505019@ntu.edu.tw") B07505019@ntu.edu.tw
